<%- include ('partials/navbar.ejs')%> 
<%- include ('partials/header.ejs')%>

<h1>Clientes</h1>
<hr />

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">CPF</th>
      <th scope="col">Endereço</th>
    </tr>
  </thead>
  <tbody>
    <% clientes.forEach((cliente) =>{%>
    <tr>
      <th scope="row">1</th>
      <td><%= cliente.nome %></td>
      <td><%= cliente.cpf %></td>
      <td><%= cliente.endereco %></td>
    </tr>
    <% })%>
  </tbody>
</table>

<%- include ('partials/footer.ejs')%>