<%- include ('partials/navbar.ejs')%> <%- include ('partials/header.ejs')%>

<h1>Clientes</h1>
<hr />

<ul class="list-group list-group-horizontal">
  <li class="list-group-item">Nome</li>
  <li class="list-group-item">CPF</li>
  <li class="list-group-item">Endereço</li>
</ul>
<% clientes.forEach((cliente) =>{%>
<ul class="list-group list-group-horizontal-sm">
  <li class="list-group-item"><%= cliente.nome %></li>
  <li class="list-group-item"><%= cliente.cpf %></li>
  <li class="list-group-item"><%= cliente.endereco %></li>
</ul>
<% })%>

<%- include ('partials/footer.ejs')%>
